.shop-container{
display: grid;
grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1.5rem;
    margin: 3rem;
    
}