.product{
    height: 500px;
    width: 300px;
    text-align: center;
    justify-content: center;
    border: 1px solid;
    position: relative;
    border-radius: 0px 0px 8px 8px;
}
.product img{
 width: 286px;
 height: 286px;
}
.product-name{
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;

}
.product-info{
margin-top: 0.3rem;
}
.btn-card{
    
box-sizing: border-box;
bottom: 0;
position: absolute;
width: 100%;
left: 0rem;
background: #FFE0B3;
border: 1px solid #95A0A7;
border-radius: 0px 0px 8px 8px;
}