.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}
nav.header a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 20px;
    
}
nav.header a:hover{
    color: orangered;
}